.card-content {
    height: 150px;
  }
  
.input {
    width: 50%;
}

#main {
  height: 100vh;
}

.disable {
    background-color:#dbdbdb;
    border-color: #dbdbdb;
    box-shadow: none;
    color: #7a7a7a;opacity:.5
  }
  

#pag {
    margin-bottom: 50px;
}